<h1>Edit Question</h1>

 <div class="row">
   <div class="col-md-4">
     <p>Guidelines for question</p>
     <ul>
       <li>Make sure is is logical.</li>
       <li>Keep it simple.</li>
       <li>Ask sensible questions.</li>
     </ul>
   </div>
   <div class="col-md-8">
     <%= form_for @question do |q| %>
       <div class="form-group">
         <%= q.label :title %>
         <%= q.text_field :title, class: 'form-control', placeholder: "Enter quesiton title" %>
       </div>
       <div class="form-group">
         <%= q.label :body %>
         <%= q.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter question body" %>
       </div>
       <div class="form-group">
        Mark as resolved? <%= q.check_box :resolved %>
       </div>
       <div class="form-group">
         <%= q.submit "Save", class: 'btn btn-success' %>
       </div>
     <% end %>
   </div>
 </div>
